@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6bab78;
    width: 100%;
    overflow: hidden;
}

.ring {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #245441;
    transition: 0.5s;
}

.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}

.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.login {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-weight: 700;
}

.login h2 {
    font-size: 2em;
    color: #245441;
    font-weight: 700;
}

.login .inputBx {
    position: relative;
    width: 100%;
}

.login .inputBx input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #ffffff;
    box-shadow: none;
    outline: none;
    font-weight: 700;
}

.login .inputBx input[type="button"] {
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg, #245441, #2c4c74);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login .inputBx input[type="button"]:hover {
    transform: scale(1.05);
}

.login .inputBx input::placeholder {
    color: rgba(88, 83, 83, 0.75);
}

.login .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #245441;
}

.login .links a {
    color: #245441;
    text-decoration: none;
    font-weight: 700;
}