/*------------------------------- FONTS ---------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*------------------------------- General ---------------------------------*/

:root {
    --primary-color: hwb(132 42% 33%);
    --secondary-color: #dee2dd;
    --primary-bg-color: rgb(36, 84, 65);
    --secondary-bg-color: #696c67;
    --backup-color: rgb(37, 107, 212);
    --darkerbackup-color: rgb(44, 76, 116);
    --backup-color2: #e74b25;
    --btn-color: rgb(59, 59, 68);
    --darkerbtn-color: #302f2f;
    --text-color: #ffffff;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
}

main {
    overflow-y: auto;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-size: 2em;
    font-family: "Lily Script One";
    color: #505e77;
    letter-spacing: 7px;
}

.imgContainer {
    position: relative;
    width: 230px;
    height: 250px;
    overflow: hidden;
    z-index: 1;
}

.imgContainer img.bottle {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 18px;
    -webkit-animation: floating 1.75s ease-in-out infinite alternate;
    animation: floating 1.75s ease-in-out infinite alternate;
}

.imgContainer img.wave {
    -webkit-animation: wave 2.3s linear infinite;
    animation: wave 2.3s linear infinite;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    position: absolute;
    bottom: 0;
    width: 200%;
}

.imgContainer img.wave.delay {
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
}

@-webkit-keyframes wave {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes wave {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@-webkit-keyframes floating {
    from {
        transform: translate(-50%, 10px);
    }
    to {
        transform: translate(-50%, -10px);
    }
}

@keyframes floating {
    from {
        transform: translate(-50%, 10px);
    }
    to {
        transform: translate(-50%, -10px);
    }
}

.splash-logo {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    top: -10px;
    left: 20px;
}

.progress {
    background-color: #ffffff;
    width: 220px;
    height: 20px;
    overflow: hidden;
    backface-visibility: hidden;
    transform: skew(150deg);
    z-index: 2;
    position: relative;
    display: block;
    top: 2rem;
}

.inner {
    background-image: linear-gradient(to right bottom, var(--backup-color), var(--darkerbackup-color), var(--backup-color), var(--backup-color), var(--darkerbackup-color), var(--backup-color), var(--darkerbackup-color), var(--backup-color), var(--backup-color), var(--backup-color), var(--darkerbackup-color), var(--backup-color));
    height: 100%;
    transform-origin: left;
    transform: skew(-150deg);
    animation: progress 1.8s infinite;
}

@keyframes progress {
    0% {
        transform: scaleX(10%) translateX(-10%);
    }
    100% {
        transform: scaleX(90%) translateX(150%);
    }
}

canvas {
    position: absolute;
    display: block;
    height: 100vh;
}


/*-------------------------------- MEDIA QUERIES --------------------------------------------*/


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}