/*------------------------------- FONTS ---------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*------------------------------- General ---------------------------------*/

:root {
    --primary-color: #6bab78;
    --secondary-color: #dee2dd;
    --primary-bg-color: #245441;
    --secondary-bg-color: #696c67;
    --backup-color: #256bd3;
    --btn-color: #3b3b44;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    overflow-x: hidden;
    background-color: var(--primary-bg-color);
}

ul {
    list-style-type: none;
}


/*------------------------ END OF NAVBAR -------------------------------*/

.navbar {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: #fff;
    border-radius: 10px;
    padding: 1rem 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
    height: calc(100vh - 4rem);
    z-index: 1;
}

.navbar__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 5.5rem;
    color: #6a778e;
    transition: 250ms ease all;
}

.navbar__link span {
    position: absolute;
    left: 100%;
    transform: translate(-3rem);
    margin-left: 1rem;
    opacity: 0;
    pointer-events: none;
    color: var(--btn-color);
    background: #fff;
    padding: 0.75rem;
    transition: 250ms ease all;
    border-radius: 17.5px;
}

.navbar__link:hover {
    color: var(--secondary-color);
}

.navbar:not(:hover) .navbar__link:focus span,
.navbar__link:hover span {
    opacity: 1;
    transform: translate(0);
}

.navbar__menu {
    position: relative;
}

.navbar__item:last-child:before {
    content: " ";
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    background: var(--primary-bg-color);
    border-radius: 17.5px;
    transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
}

.navbar__item:first-child:nth-last-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(1)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(1):last-child:hover:before,
.navbar__item:first-child:nth-last-child(1)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(1):last-child:hover:before,
.navbar__item:first-child:nth-last-child(1)~li:last-child:hover:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(2)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(2):last-child:hover:before,
.navbar__item:first-child:nth-last-child(2)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(2):nth-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(2)~li:nth-child(1):hover~li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(2):last-child:hover:before,
.navbar__item:first-child:nth-last-child(2)~li:last-child:hover:before {
    top: 50%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(3):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(3)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(3):last-child:hover:before,
.navbar__item:first-child:nth-last-child(3)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(3):nth-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(3)~li:nth-child(1):hover~li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(3):nth-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(3)~li:nth-child(2):hover~li:last-child:before {
    top: 33.3333333333%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(3):last-child:hover:before,
.navbar__item:first-child:nth-last-child(3)~li:last-child:hover:before {
    top: 66.6666666667%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(4):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(4)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(4):last-child:hover:before,
.navbar__item:first-child:nth-last-child(4)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(4):nth-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(4)~li:nth-child(1):hover~li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(4):nth-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(4)~li:nth-child(2):hover~li:last-child:before {
    top: 25%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(4):nth-child(3):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(4)~li:nth-child(3):hover~li:last-child:before {
    top: 50%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(4):last-child:hover:before,
.navbar__item:first-child:nth-last-child(4)~li:last-child:hover:before {
    top: 75%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(5):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(5)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(5):last-child:hover:before,
.navbar__item:first-child:nth-last-child(5)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(5):nth-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(5)~li:nth-child(1):hover~li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(5):nth-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(5)~li:nth-child(2):hover~li:last-child:before {
    top: 20%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(5):nth-child(3):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(5)~li:nth-child(3):hover~li:last-child:before {
    top: 40%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(5):nth-child(4):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(5)~li:nth-child(4):hover~li:last-child:before {
    top: 60%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(5):last-child:hover:before,
.navbar__item:first-child:nth-last-child(5)~li:last-child:hover:before {
    top: 80%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(6)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(6):last-child:hover:before,
.navbar__item:first-child:nth-last-child(6)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(6):nth-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(6)~li:nth-child(1):hover~li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):nth-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(6)~li:nth-child(2):hover~li:last-child:before {
    top: 16.6666666667%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):nth-child(3):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(6)~li:nth-child(3):hover~li:last-child:before {
    top: 33.3333333333%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):nth-child(4):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(6)~li:nth-child(4):hover~li:last-child:before {
    top: 50%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):nth-child(5):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(6)~li:nth-child(5):hover~li:last-child:before {
    top: 66.6666666667%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):last-child:hover:before,
.navbar__item:first-child:nth-last-child(6)~li:last-child:hover:before {
    top: 83.3333333333%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(7)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(7):last-child:hover:before,
.navbar__item:first-child:nth-last-child(7)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(7):nth-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(7)~li:nth-child(1):hover~li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):nth-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(7)~li:nth-child(2):hover~li:last-child:before {
    top: 14.2857142857%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):nth-child(3):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(7)~li:nth-child(3):hover~li:last-child:before {
    top: 28.5714285714%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):nth-child(4):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(7)~li:nth-child(4):hover~li:last-child:before {
    top: 42.8571428571%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):nth-child(5):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(7)~li:nth-child(5):hover~li:last-child:before {
    top: 57.1428571429%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):nth-child(6):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(7)~li:nth-child(6):hover~li:last-child:before {
    top: 71.4285714286%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):last-child:hover:before,
.navbar__item:first-child:nth-last-child(7)~li:last-child:hover:before {
    top: 85.7142857143%;
    animation: gooeyEffect-7 250ms 1;
}

@keyframes gooeyEffect-7 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(8)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(8):last-child:hover:before,
.navbar__item:first-child:nth-last-child(8)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(8):nth-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(8)~li:nth-child(1):hover~li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(8)~li:nth-child(2):hover~li:last-child:before {
    top: 12.5%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(3):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(8)~li:nth-child(3):hover~li:last-child:before {
    top: 25%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(4):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(8)~li:nth-child(4):hover~li:last-child:before {
    top: 37.5%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(5):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(8)~li:nth-child(5):hover~li:last-child:before {
    top: 50%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(6):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(8)~li:nth-child(6):hover~li:last-child:before {
    top: 62.5%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(7):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(8)~li:nth-child(7):hover~li:last-child:before {
    top: 75%;
    animation: gooeyEffect-7 250ms 1;
}

@keyframes gooeyEffect-7 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):last-child:hover:before,
.navbar__item:first-child:nth-last-child(8)~li:last-child:hover:before {
    top: 87.5%;
    animation: gooeyEffect-8 250ms 1;
}

@keyframes gooeyEffect-8 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(9)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(9):last-child:hover:before,
.navbar__item:first-child:nth-last-child(9)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(9):nth-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(9)~li:nth-child(1):hover~li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(9)~li:nth-child(2):hover~li:last-child:before {
    top: 11.1111111111%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(3):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(9)~li:nth-child(3):hover~li:last-child:before {
    top: 22.2222222222%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(4):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(9)~li:nth-child(4):hover~li:last-child:before {
    top: 33.3333333333%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(5):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(9)~li:nth-child(5):hover~li:last-child:before {
    top: 44.4444444444%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(6):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(9)~li:nth-child(6):hover~li:last-child:before {
    top: 55.5555555556%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(7):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(9)~li:nth-child(7):hover~li:last-child:before {
    top: 66.6666666667%;
    animation: gooeyEffect-7 250ms 1;
}

@keyframes gooeyEffect-7 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(8):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(9)~li:nth-child(8):hover~li:last-child:before {
    top: 77.7777777778%;
    animation: gooeyEffect-8 250ms 1;
}

@keyframes gooeyEffect-8 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):last-child:hover:before,
.navbar__item:first-child:nth-last-child(9)~li:last-child:hover:before {
    top: 88.8888888889%;
    animation: gooeyEffect-9 250ms 1;
}

@keyframes gooeyEffect-9 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(10)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(10):last-child:hover:before,
.navbar__item:first-child:nth-last-child(10)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(10):nth-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(10)~li:nth-child(1):hover~li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(10)~li:nth-child(2):hover~li:last-child:before {
    top: 10%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(3):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(10)~li:nth-child(3):hover~li:last-child:before {
    top: 20%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(4):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(10)~li:nth-child(4):hover~li:last-child:before {
    top: 30%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(5):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(10)~li:nth-child(5):hover~li:last-child:before {
    top: 40%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(6):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(10)~li:nth-child(6):hover~li:last-child:before {
    top: 50%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(7):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(10)~li:nth-child(7):hover~li:last-child:before {
    top: 60%;
    animation: gooeyEffect-7 250ms 1;
}

@keyframes gooeyEffect-7 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(8):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(10)~li:nth-child(8):hover~li:last-child:before {
    top: 70%;
    animation: gooeyEffect-8 250ms 1;
}

@keyframes gooeyEffect-8 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(9):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(10)~li:nth-child(9):hover~li:last-child:before {
    top: 80%;
    animation: gooeyEffect-9 250ms 1;
}

@keyframes gooeyEffect-9 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):last-child:hover:before,
.navbar__item:first-child:nth-last-child(10)~li:last-child:hover:before {
    top: 90%;
    animation: gooeyEffect-10 250ms 1;
}

@keyframes gooeyEffect-10 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:hover~li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(11):last-child:hover:before,
.navbar__item:first-child:nth-last-child(11)~li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(11):nth-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:nth-child(1):hover~li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:nth-child(2):hover~li:last-child:before {
    top: 9.0909090909%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(3):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:nth-child(3):hover~li:last-child:before {
    top: 18.1818181818%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(4):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:nth-child(4):hover~li:last-child:before {
    top: 27.2727272727%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(5):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:nth-child(5):hover~li:last-child:before {
    top: 36.3636363636%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(6):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:nth-child(6):hover~li:last-child:before {
    top: 45.4545454545%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(7):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:nth-child(7):hover~li:last-child:before {
    top: 54.5454545455%;
    animation: gooeyEffect-7 250ms 1;
}

@keyframes gooeyEffect-7 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(8):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:nth-child(8):hover~li:last-child:before {
    top: 63.6363636364%;
    animation: gooeyEffect-8 250ms 1;
}

@keyframes gooeyEffect-8 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(9):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:nth-child(9):hover~li:last-child:before {
    top: 72.7272727273%;
    animation: gooeyEffect-9 250ms 1;
}

@keyframes gooeyEffect-9 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(10):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(11)~li:nth-child(10):hover~li:last-child:before {
    top: 81.8181818182%;
    animation: gooeyEffect-10 250ms 1;
}

@keyframes gooeyEffect-10 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):last-child:hover:before,
.navbar__item:first-child:nth-last-child(11)~li:last-child:hover:before {
    top: 90.9090909091%;
    animation: gooeyEffect-11 250ms 1;
}

@keyframes gooeyEffect-11 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}


/*-------------------------------- END OF NAVBAR --------------------------------------------*/

.Header {
    position: relative;
    height: 100vh;
    display: block;
}

.Header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(19deg, var(--color-1), var(--color-2));
    transform-origin: 0px 0px;
    transform: skewY(-10deg);
    overflow: hidden;
    z-index: -1;
}

.Header-background::before,
.Header-background::after {
    display: block;
    position: absolute;
    content: '';
    width: 80%;
    height: 33.333333333333336%;
    opacity: 0.3;
    filter: blur(15px);
}

.Header-background::before {
    background: green;
    right: 0;
}

.Header-background::after {
    background: black;
    bottom: 0;
}

.Header-content {
    text-align: center;
    padding: 4rem 4rem;
    margin: 0 auto;
}

@media (min-width: 58rem) {
    .Header-content {
        text-align: left;
        padding: 10rem 4rem;
        max-width: 54rem;
        display: flex;
        justify-content: space-between;
    }
}

.Header-hero h1 {
    font-size: 200px;
}

.Header-hero h1,
.Header-hero p {
    color: #fff;
    text-shadow: 0 0.5rem 1rem rgba(50, 0, 100, 0.1);
}

.Header-hero h1 {
    margin: 0;
    font-size: 6rem;
}

.Header-hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.Header-visuals {
    position: relative;
    margin-top: 5rem;
}

@media (min-width: 58rem) {
    .Header-visuals {
        margin: 0;
        transform: translateY(-5rem) rotate(-10deg);
    }
}

.Button {
    border: 0;
    color: var(--color-3);
    font-size: 1.2rem;
    font-weight: bold;
    background: #fff;
    border-radius: 100px;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0 1.75rem 2rem -0.4rem rgba(50, 0, 100, 0.15);
    width: 50%;
    height: 10%;
}

.Button:hover {
    color: var(--color-4);
    box-shadow: 0 1.75rem 3rem 0rem rgba(50, 0, 100, 0.1);
    transform: scale(1.05);
}

.Button:active {
    box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50, 0, 100, 0.125);
    transform: scale(1.025);
}

.Iphone {
    display: inline-block;
    background: #fff;
    padding: 4rem 0.6rem 0;
    border-radius: 2rem;
    box-shadow: -1rem 1.75rem 2rem -0.4rem rgba(50, 0, 100, 0.1), -0.2rem 0.2rem 0.5rem rgba(50, 0, 100, 0.05), inset 0.5rem -0.5rem 0.5rem -0.4rem rgba(50, 0, 100, 0.1);
    text-align: center;
    transform: translateY(-5rem) rotate(-10deg);
    animation: floatAnimation 3s infinite alternate ease-in-out;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-10px) translateX(5px);
    }
    50% {
        transform: translateY(-15px) translateX(20px);
    }
    75% {
        transform: translateY(-20px) translateX(5px);
    }
    100% {
        transform: translateY(-0px) translateX(-20px);
    }
}

.Iphone::before,
.Iphone::after {
    content: '';
    display: block;
}

.Iphone::before {
    background-color: var(--btn-color);
    background-image: url('/assets/Images/phone-1.png');
    background-position: center;
    background-size: cover;
    filter: brightness(90%);
    width: 15rem;
    padding-top: 177.5%;
}

.Iphone::after {
    display: inline-block;
    margin: 0.6rem;
    padding: 1.4rem;
    border: 1px solid #aa3e3e;
    border-radius: 2rem;
    box-shadow: inset -0.05rem 0.05rem 0.5rem 0rem rgba(50, 0, 100, 0.05);
}


/*-------------------------------- 1ST SECTION --------------------------------------------*/

.wrap {
    height: 100vh;
    position: relative;
    display: block;
    margin-top: 17rem;
    margin-left: 30rem;
}

.back {
    height: 100%;
}

.back__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #1c1c1c;
    transition: opacity 300ms 800ms linear;
}

.back__slide .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    opacity: 0.5;
    background: linear-gradient(90deg, #7b29ff, #304ffe);
    transform-origin: 0% 50%;
    transform: scaleX(0);
}

.back__slide:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.back__slide.active {
    opacity: 1;
}

.back__slide:nth-child(even) {
    background: #ffffff;
}

.back__slide:nth-child(even) .progress {
    background: #000000;
    transform-origin: 100% 50%;
    opacity: 0.5;
}

.back__slide:nth-child(1):before {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jelly-back-back.png");
    opacity: 0.1;
}

.back__slide:nth-child(2):before {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/mountain-back-crop2.png");
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: 101% auto;
    background-position: right calc(50% - 14rem);
}

.back__slide:nth-child(2) .back-front-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/mountain-front-crop.png");
    background-size: 101% auto;
    background-position: center calc(50% + 21rem);
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0;
    transform: translate3d(0, 10rem, 0);
    transition: transform 600ms 300ms linear, opacity 300ms 500ms linear;
}

.back__slide:nth-child(2) .back-front-image:after {
    content: "";
    background: linear-gradient(rgba(255, 255, 255, 0), #ffffff 80%);
    display: block;
    position: absolute;
    left: 0;
    top: calc(50% + 20rem);
    height: 20.5rem;
    width: 100%;
}

.back__slide:nth-child(2).active .back-front-image {
    opacity: 0.2;
    transform: translate3d(0, 0, 0);
    transition: transform 1200ms 1300ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 1300ms linear;
}

.card {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 90rem;
    height: 50rem;
    background: #000000;
}

.card__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0);
    transition: box-shadow 400ms 400ms linear;
}

.card__slide .number {
    opacity: 0;
    transform: translatex(-5rem);
    transition: transform 600ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 400ms linear;
}

.card__slide .date {
    opacity: 0;
    transform: translatex(-5rem) rotate(-90deg);
    transition: transform 600ms 400ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 400ms linear;
}

.card__slide.active {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
}

.card__slide.active .number {
    opacity: 1;
    transform: translatex(0rem);
    transition: transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 900ms linear;
}

.card__slide.active .date {
    opacity: 1;
    transform: translatex(0rem) rotate(-90deg);
    transition: transform 600ms 900ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 900ms linear;
}

.card__slide.exit .number {
    transform: translatex(0rem);
    transition: transform 600ms 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 200ms 1000ms linear;
}

.card__slide.exit .date {
    transform: translatex(5rem) rotate(-90deg);
}

.card__slide:nth-child(even) {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.card__slide:nth-child(even) .date,
.card__slide:nth-child(even) .number {
    color: #000000;
}

.card__slide:nth-child(even) .date {
    left: 5.5%;
}

.card__slide:nth-child(even) .number {
    left: 94.5%;
}

.card__slide:nth-child(even) .date:before {
    border-bottom: 0.15rem solid #000000;
}

.card__slide:nth-child(even) .number:before {
    border-left: 0.15rem solid #000000;
}

.card__slide:nth-child(even):after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 500ms 600ms ease-in-out;
}

.card__slide:nth-child(even).active {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.card__slide:nth-child(even).active .number {
    opacity: 1;
    transition: opacity 200ms 400ms linear;
}

.card__slide:nth-child(even).active .date {
    transition: transform 600ms 1200ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 1200ms linear;
}

.card__slide:nth-child(even).active:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

.card__slide:nth-child(even).exit .date {
    transform: translatex(0rem) rotate(-90deg);
}

.card__slide:nth-child(even).exit .number {
    transform: translatex(4rem);
    transition: transform 600ms 700ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 700ms linear;
}

.card__slide:nth-child(1) .image {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jelly.png");
    background-size: 150% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate3d(-55%, -40%, 0);
    z-index: 2;
    opacity: 0;
}

.card__slide:nth-child(1).active .image {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
    transition: transform 1200ms 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 1000ms linear;
}

.card__slide:nth-child(1).exit .image {
    transform: translate3d(-45%, -60%, 0);
    transition: transform 600ms 300ms linear, opacity 300ms 500ms linear;
}

.card__slide:nth-child(1):after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jelly-back.png");
    background-size: 135% auto;
    background-position: center;
    opacity: 0.15;
    filter: contrast(150%);
}

.card__slide:nth-child(2) {
    overflow: hidden;
}

.card__slide:nth-child(2) .image {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/mountain-front-crop.png");
    background-size: 100% auto;
    background-position: 50% top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 55%;
    left: -5vw;
    transform: translate3d(0, 20%, 0);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: transform 600ms 300ms linear, opacity 300ms 500ms linear;
}

.card__slide:nth-child(2) .back-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/mountain-back-crop2.png");
    background-size: 101% auto;
    background-position: center 85%;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0;
    transform: translatey(0);
    transition: transform 600ms 300ms linear, opacity 300ms 500ms linear;
}

.card__slide:nth-child(2) .back-image:after {
    content: "";
    background: linear-gradient(rgba(255, 255, 255, 0), #ffffff 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 50%;
    top: 50%;
}

.card__slide:nth-child(2).active .image {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 1200ms 1300ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 1300ms linear;
}

.card__slide:nth-child(2).active .back-image {
    opacity: 1;
    transform: translatey(-2rem);
    transition: transform 1200ms 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 1000ms linear;
}

.card__slide:nth-child(2).exit .back-image {
    transform: translatey(-4rem);
}

.number {
    color: #ffffff;
    z-index: 1;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    letter-spacing: 0.02em;
    position: absolute;
    left: 5%;
    top: calc(50% + 6rem);
}

.number:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 2.5rem;
    display: block;
    height: 4rem;
    border-left: 0.15rem solid #ffffff;
}

.date {
    color: #ffffff;
    z-index: 1;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    letter-spacing: 0.15em;
    position: absolute;
    left: 95%;
    width: 30%;
    top: calc(83% - 0.5rem);
    transform-origin: 0 50%;
    transform: rotate(-90deg);
}

.date__time {
    opacity: 0.25;
}

.date:before {
    content: "";
    display: inline-block;
    transform: translatey(-0.35rem);
    width: 4rem;
    margin-right: 1.5rem;
    border-bottom: 0.15rem solid #ffffff;
}

.content {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translatey(-50%);
    width: 44%;
    height: 68%;
    z-index: 2;
}

.content__ping {
    position: absolute;
    bottom: 0;
    width: 4rem;
    transition: transform 500ms ease-out;
}

.content__ping:after {
    content: "";
    display: block;
    height: 0.15rem;
    background: #ffffff;
    width: 100%;
    transition: background 200ms 700ms linear;
    -webkit-animation: widenFromLeft 1200ms ease-out;
    animation: widenFromLeft 1200ms ease-out;
}

@-webkit-keyframes widenFromLeft {
    0% {
        transform: scaleX(1);
        transform-origin: 0 50%;
    }
    20% {
        transform: scaleX(4);
        transform-origin: 0 50%;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 0 50%;
    }
}

@keyframes widenFromLeft {
    0% {
        transform: scaleX(1);
        transform-origin: 0 50%;
    }
    20% {
        transform: scaleX(4);
        transform-origin: 0 50%;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 0 50%;
    }
}

@-webkit-keyframes widenFromRight {
    0% {
        transform: scaleX(1);
        transform-origin: 100% 50%;
    }
    20% {
        transform: scaleX(4);
        transform-origin: 100% 50%;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 100% 50%;
    }
}

@keyframes widenFromRight {
    0% {
        transform: scaleX(1);
        transform-origin: 100% 50%;
    }
    20% {
        transform: scaleX(4);
        transform-origin: 100% 50%;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 100% 50%;
    }
}

.content__ping--right {
    transform: translateX(35.5rem);
}

.content__ping--right:after {
    background: #000000;
    -webkit-animation: widenFromRight 1200ms ease-out;
    animation: widenFromRight 1200ms ease-out;
}

.content__ping--noanimation:after {
    -webkit-animation: none !important;
    animation: none !important;
}

.content__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.content__slide.active {
    pointer-events: auto;
}

.content__slide.active .title__line:before {
    transform: scaleX(1);
    transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 1000ms;
}

.content__slide.active .title__line:nth-child(2):before {
    transition-delay: 1200ms;
}

.content__slide.active .title__inner,
.content__slide.active .desc,
.content__slide.active .button-wrap {
    opacity: 1;
    transform: translatey(0);
}

.content__slide.active .title__inner {
    transition-delay: 1600ms;
}

.content__slide.active .desc {
    transition-delay: 1800ms;
}

.content__slide.active .button-wrap {
    transition-delay: 2000ms;
}

.content__slide.exit .title__inner,
.content__slide.exit .desc,
.content__slide.exit .button-wrap {
    transform: translatey(-2.5rem);
    transition: transform 400ms ease-out, opacity 300ms linear;
}

.content__slide.exit .title__inner {
    transition-delay: 150ms;
}

.content__slide.exit .desc {
    transition-delay: 300ms;
}

.content__slide.exit .button-wrap {
    transition-delay: 450ms;
}

.content__slide:nth-child(even) {
    text-align: right;
}

.content__slide:nth-child(even) .title,
.content__slide:nth-child(even) .desc {
    color: #000000;
}

.content__slide:nth-child(even) .button {
    background: transparent;
    color: #ffffff;
    border: 0.15rem solid #000000;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.content__slide:nth-child(even) .button:before,
.content__slide:nth-child(even) .button:after {
    display: none;
}

.content__slide:nth-child(even) .button__hover {
    background: #000000;
    -webkit-animation: full-rest 10s forwards;
    animation: full-rest 10s forwards;
}

@-webkit-keyframes full-rest {
    0% {
        transform-origin: right center;
        transform: scaleX(1);
    }
    100% {
        transform-origin: right center;
        transform: scaleX(1);
    }
}

@keyframes full-rest {
    0% {
        transform-origin: right center;
        transform: scaleX(1);
    }
    100% {
        transform-origin: right center;
        transform: scaleX(1);
    }
}

.content__slide:nth-child(even) .button:hover .button__hover {
    -webkit-animation: empty-swipe 500ms forwards;
    animation: empty-swipe 500ms forwards;
}

@-webkit-keyframes empty-swipe {
    0% {
        transform-origin: left center;
        transform: scaleX(1);
    }
    50% {
        transform-origin: left center;
        transform: scaleX(0);
    }
    51% {
        transform-origin: right center;
        transform: scaleX(0);
    }
    100% {
        transform-origin: right center;
        transform: scaleX(1);
    }
}

@keyframes empty-swipe {
    0% {
        transform-origin: left center;
        transform: scaleX(1);
    }
    50% {
        transform-origin: left center;
        transform: scaleX(0);
    }
    51% {
        transform-origin: right center;
        transform: scaleX(0);
    }
    100% {
        transform-origin: right center;
        transform: scaleX(1);
    }
}

.content__slide:nth-child(even) .title__line:before {
    left: -4rem;
    background: #f9f9f9;
    transform-origin: 0% 50%;
}

.content__slide:nth-child(even).active .title__line:before {
    transform-origin: 100% 50%;
}

.title {
    color: #ffffff;
    font-size: 5.5rem;
    font-family: "Playfair Display", serif;
    line-height: 1;
    letter-spacing: 0.03em;
    margin: 0 0 3.6rem;
}

.title__line {
    display: inline-block;
    position: relative;
}

.title__line:before {
    background: linear-gradient(90deg, #7b29ff, #304ffe);
    transform-origin: 100% 50%;
    transition: transform 500ms ease-out;
    transform: scaleX(0);
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 6rem);
    top: 2rem;
    left: -2rem;
    height: 2rem;
    z-index: -1;
}

.title__line:nth-child(2):before {
    transition-delay: 200ms;
}

.title__inner {
    position: relative;
    display: inline-block;
}

.desc {
    font-size: 1.4rem;
    font-family: "Libre Franklin", sans-serif;
    line-height: 1.84;
    margin: 0 0 3.6rem;
    color: #ffffff;
}

.button {
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 1.15rem 2rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
    color: #ffffff;
    border-top: 0.15rem solid #304ffe;
    border-bottom: 0.15rem solid #7b29ff;
    box-shadow: 0 1rem 2rem rgba(123, 41, 255, 0.2);
    transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:before,
.button:after,
.button__hover {
    content: "";
    position: absolute;
    top: -1%;
    height: 102%;
    width: 0.15rem;
    background: linear-gradient(#304ffe, #7b29ff);
}

.button:before {
    left: 0;
}

.button:after {
    right: 0;
}

.button__hover {
    left: -1%;
    width: 102%;
    height: 102%;
    z-index: -1;
    -webkit-animation: rest 10s forwards;
    animation: rest 10s forwards;
}

@-webkit-keyframes rest {
    0% {
        transform-origin: right center;
        transform: scaleX(0);
    }
    100% {
        transform-origin: right center;
        transform: scaleX(0);
    }
}

@keyframes rest {
    0% {
        transform-origin: right center;
        transform: scaleX(0);
    }
    100% {
        transform-origin: right center;
        transform: scaleX(0);
    }
}

.button:hover {
    transform: translatey(-0.5rem);
}

.button:hover .button__hover {
    -webkit-animation: swipe 500ms forwards;
    animation: swipe 500ms forwards;
}

@-webkit-keyframes swipe {
    0% {
        transform-origin: left center;
        transform: scaleX(0);
    }
    50% {
        transform-origin: left center;
        transform: scaleX(1);
    }
    51% {
        transform-origin: right center;
        transform: scaleX(1);
    }
    100% {
        transform-origin: right center;
        transform: scaleX(0);
    }
}

@keyframes swipe {
    0% {
        transform-origin: left center;
        transform: scaleX(0);
    }
    50% {
        transform-origin: left center;
        transform: scaleX(1);
    }
    51% {
        transform-origin: right center;
        transform: scaleX(1);
    }
    100% {
        transform-origin: right center;
        transform: scaleX(0);
    }
}

.title__inner,
.desc,
.button-wrap {
    opacity: 0;
    transform: translatey(2.5rem);
    position: relative;
    transition: transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms linear;
}


/*----------------------------------------------------------*/

[mv-app] {
    position: relative;
    display: block;
    min-width: 10rem;
    max-width: 90vw;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04), 0 35px 2px -20px #e7e7ef;
    margin-top: 30rem;
    transition: all .5s ease;
}

[mv-app]>[property=headline] {
    margin: 0;
    padding: 1.1em 1em;
    text-align: center;
    color: var(--text-color-accent);
    border-bottom: 1px solid var(--line-color);
    transition: all .5s ease;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(var(--count, 5), minmax(8em, 1fr));
    grid-template-rows: auto auto;
    transition: all .5s ease;
}

details[property=tab] {
    display: contents;
}

details[property=tab][open] [property=content] {
    grid-column: 1/-1;
    width: auto;
}

details[property=tab]:not([open]) [property=title] {
    color: #8c90ab;
    background-color: #f5f7fa;
    border-bottom: 1px solid var(--line-color);
}

details[property=tab]:not([open]) [property=title] .icon {
    filter: grayscale(85%) opacity(45%);
}

details[property=tab]:not([open]) [property=content] {
    display: none;
}

details[property=tab]:first-child [property=title] {
    border-left: none;
}

[property=title] {
    grid-row: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid var(--line-color);
    color: var(--main-color);
    text-align: center;
    list-style: none;
}

[property=title]::-webkit-details-marker {
    display: none;
}

[property=title] .icon {
    max-height: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

[property=title]:focus {
    outline: none;
}

[property=content] {
    grid-row: 2;
    padding: 3em 1em;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 1.2em;
    grid-template-areas: "image headline" "image text" "image link";
}

[property=content] [property=image] {
    grid-area: image;
    max-width: 70%;
    max-height: 22em;
    margin: auto;
}

[property=content] [property=headline] {
    grid-area: headline;
    margin-bottom: 0.5em;
    color: var(--main-color);
    font-size: 170%;
}

[property=content] [property=headline]:not([mv-mode=edit]) {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, var(--main-color), var(--main-color-accent));
}

[property=content] [property=text] {
    grid-area: text;
    line-height: 1.5em;
}

[property=content] [property=url] {
    grid-area: link;
    align-self: center;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 1.5em;
    padding: 0.7em 2em;
    color: white;
    background-image: linear-gradient(135deg, var(--main-color), var(--main-color-accent));
    border-radius: 999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

[property=content] [property=url]:hover {
    filter: brightness(135%);
}

[mv-app][mv-mode=edit] [property=open] {
    display: none;
}


/*-------------------------------- MEDIA QUERIES --------------------------------------------*/


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .Header-visuals {
        transform: translateX(4rem) translateY(-10px) rotate(-10deg);
    }
    .wrap {
        transform: translateY(80rem);
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .Button {
        height: 3rem;
    }
    .Header-visuals {
        transform: translateX(4rem) translateY(-10px) rotate(-10deg);
    }
    .wrap {
        transform: translateY(35rem);
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .Header-visuals {
        transform: translateX(4rem) translateY(-10px) rotate(-10deg);
    }
    .wrap {
        transform: translateY(200px);
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .Header-visuals {
        transform: translateX(4rem) rotate(-10deg) translateY(-2rem);
    }
    .wrap {
        transform: translateY(200px);
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}